In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 715.8 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
%load_ext sql

In [5]:
%sql sqlite:///ABC_DATA.db

In [6]:
%%sql CREATE TABLE Customers(
    customer_id INT NOT NULL PRIMARY KEY,
    first_name VARCHAR (20),
    last_name VARCHAR(20),
    email VARCHAR (30)
);

   sqlite:///
 * sqlite:///ABC_DATA.db
Done.

[]

In [7]:
%%sql CREATE TABLE PRODUCTS(
    product_id INT NOT NULL PRIMARY KEY,
    product_name VARCHAR (30),
    price DECIMAL (4,2)
);

   sqlite:///
 * sqlite:///ABC_DATA.db
Done.

[]

In [8]:
%%sql CREATE TABLE Orders(
    order_id INT NOT NULL PRIMARY KEY,
    customer_id INT,
    order_date DATE
);

   sqlite:///
 * sqlite:///ABC_DATA.db
Done.

[]

In [9]:
%%sql CREATE TABLE Order_items(
    order_id INT NOT NULL PRIMARY KEY,
    product_id INT,
    quantity INT
);

   sqlite:///
 * sqlite:///ABC_DATA.db
Done.

[]